* {box-sizing: border-box;}
html{
  scroll-behavior: smooth;
}
body { 
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #eeeeee33;
}
header{
    background-color: #97EC2A;
    display: flex;
    justify-content: center;
}

p{
    line-height: 1.4rem;
    font-family: helvetica, sans-serif;
    
}
.fa-envelope{
    margin: 3px 10px;
}  
header h4{
    margin-top: 5px;
    margin-bottom: 2px;
    color: rgb(24, 22, 22);
    font-size: 12px;
}
h4 i{
  padding-left: 20px;
}
.logo-left .logo {
  max-width: 40px;
  margin-top: -10px;
  margin-bottom: -10px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: #fff;
  z-index: 99;
}
.nav-center {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.nav-center a {
  color: #1a1a1a;
  padding: 0px 20px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
}

.nav-center a:hover {
  color: rgb(144, 214, 31);
  cursor: pointer;
  text-decoration: underline;
  transition: .3s;
}
/*from span*/
.arc{
  color: #F69709;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.agro{
  color: #19C42A;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.engine{
  color: #3C93E3;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer{
    background: #19191a;
    color: white;
    padding: 10px 20px;
    position: absolute;
    width: 100%;
    
}
.icons{
  display: flex;
  flex-direction: row;
}
.fa-whatsapp{
  color: rgb(15, 160, 15);
  font-size: 32px;
  margin-right: 15px;
}
.fa-facebook{
  color: rgb(255, 255, 255);
  margin-right: 15px;
  font-size: 28px;
}
.fa-linkedin{
  color: rgb(81, 81, 170);
  margin-right: 15px;
  font-size: 32px;
}
small{
  text-align: center;
  color: #6B7073;
  display: block;
  padding-top: 10px;
}